.container {
  width: 95%;
  margin: auto;
  margin-top: 80px;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.container h2 {
  font-size: 32px;
  text-align: center;
  font-weight: normal;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;

  .figure {
    max-height: 380px;
    width: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 380px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

.more {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #626262;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 768px) {
  .images {
    figure {
      width: 45%;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 612px) {
  .images {
    gap: 18px;

    .figure {
      height: 316px;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}

// aboutimages

.aboutImages {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @media (max-width: 512px) {
    flex-direction: column;
  }
}

.mainImages {
  width: 50%;
  display: flex;
  flex-direction: column;

  @media (max-width: 512px) {
    width: 100%;
  }
}

.mainImage {
  width: 100%;
  height: 320px;

  @media (max-width: 512px) {
    height: 300px;
  }

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
  }
}

.otherImages {
  margin-top: 10px;
  display: flex;

  figure {
    width: 100%;
    height: 161px;

    @media (max-width: 512px) {
      height: 86px;
    }

    &:last-child {
      margin-left: 10px;
    }

    img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
    }
  }
}

.detail {
  width: 48%;

  @media (max-width: 512px) {
    width: 100%;
    margin-top: 23px;
  }
}

.organisationName {
  font-weight: 400;
  color: #494949;
  font-size: 16px;
  font-family: "Kanit", sans-serif;

  @media (max-width: 512px) {
    font-size: 12px;
  }
}

.name {
  font-size: 20px;
  font-weight: 500;
  font-family: "Kanit", sans-serif;

  @media (max-width: 512px) {
    font-size: 14px;
  }
}

.description {
  word-break: break-all;
  font-family: "Kanit", sans-serif;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 512px) {
    font-size: 11px;
  }
}

.detailElement {
  margin-top: 10px;
}

.detailContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  div {
    width: 50%;
    margin-bottom: 16px;

    h3 {
      &:first-child {
        color: #6d6d6d;
        font-weight: 400;
        font-size: 13px;
        font-family: "Kanit", sans-serif;
      }

      &:last-child {
        color: #494949;
        font-weight: 500;
        font-size: 14px;

        @media (max-width: 512px) {
          font-size: 12px;
        }
      }
    }
  }
}
