.projects {
  margin-top: 80px;
}

.projectsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 512px) {
    flex-direction: column;
  }
}

.projectsTitleValue {
  font-size: 32px;
  font-weight: normal;

  @media (max-width: 512px) {
    font-size: 20px;
  }
}

.projectsTitleMore {
  color: #13436b;
  font-size: 17px;
  cursor: pointer;
  text-decoration: underline;

  @media (max-width: 512px) {
    display: none;
  }
}

.projectsResponsiveTitleMore {
  color: #13436b;
  font-size: 17px;
  cursor: pointer;
  text-decoration: underline;
  display: none;

  @media (max-width: 512px) {
    display: block;
  }
}

.projectImages {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  margin-top: 40px;
  max-width: 1200px;

  @media (max-width: 512px) {
    flex-direction: column;
  }
}

.projectImages figure {
  height: 352px;
  width: 100%;
  margin-bottom: 15px;

  @media (max-width: 512px) {
    width: 95%;
    height: 280px;
  }

  img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
