.container {
  width: 95%;
  margin: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: auto;
  max-height: 512px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 40px;
  }
  h1 {
    position: absolute;
    top: 25%;
    left: 60px;
    font-family: Kanit;
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0%;
    color: #13436b;
    @media (max-width: 768px) {
      position: absolute;
      top: 28%;
      left: 25px;
      font-family: Kanit;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0%;
      color: #13436b;
    }
  }
}

//about about about about about about about about about about about

// section section section section section section section

// services

//partners partners

// projects
