.partners {
  margin-top: 80px;
}

.partnersTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partnersArrow {
  width: 8%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 512px) {
    width: 16%;
  }
}

.partnersTitleValue {
  font-size: 32px;
  font-weight: normal;

  @media (max-width: 512px) {
    font-size: 20px;
  }
}

.partnersArrow div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border: 1px solid #7db2dd;
  color: #7db2dd;
  margin-right: 10px;
  cursor: pointer;

  transition: 250ms;
  &:hover {
    background-color: #13436b;
    color: #fff;
    cursor: pointer;
    transition: 250ms;
  }
}

.partnerImages {
  margin-top: 40px;
  display: flex;
  overflow-x: auto;
  height: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
  gap: 20px;
  /* Aralarında boşluq yaradır */
  flex-wrap: nowrap;
}

.partnerImages figure {
  //   min-width: 15%;
  height: unset;
  //   flex-shrink: 0;
  width: unset;
  display: flex;
  align-items: center;

  img {
    width: unset;
    height: unset;
    max-height: 100px;
    min-height: 50px;
    filter: grayscale(100%);

    transition: 250ms;
    &:hover {
      filter: grayscale(0%) contrast(1.2);
      transition: 250ms;
    }
  }
}
