.container {
  width: 90%;
  margin: auto;
  margin-top: 80px;

  @media (max-width: 512px) {
    margin-top: 24px;
    width: 95%;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 512px) {
    flex-direction: column;
  }

  p {
    width: 45%;
    font-size: 13px;
    color: #3a3a3a;

    @media (max-width: 512px) {
      font-size: 11px;
      width: 100%;
      margin-top: 24px;
    }
  }
}

.servicesValue {
  font-size: 32px;
  font-weight: normal;

  @media (max-width: 512px) {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

.element {
  margin-top: 54px;
}

.content {
  display: flex;
  margin-top: 36px;
  justify-content: space-around;
  gap: 10px;
  @media (max-width: 768px) {
    display: none;
  }
}
.content_sm {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    margin-top: 36px;
    justify-content: space-around;
    gap: 10px;
  }
}

.col {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  h2 {
    color: #296a9f;
    font-size: 24px;
    font-weight: normal;
    width: 5%;

    @media (max-width: 512px) {
      font-size: 16px;
      width: 15%;
    }
  }

  @media (max-width: 512px) {
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
  }

  span {
    width: 95%;
    color: #3a3a3a;
    font-size: 14px;
  }
}
