.portfolio {
  width: 85%;
  margin: auto;
  margin-top: 80px;
  @media (max-width: 512px) {
    margin-top: 24px;
  }
}

.element {
  border-color: #89beea5e;
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

.portfolioTitle {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  @media (max-width: 512px) {
    font-size: 20px;
  }
}

.portfolioImages {
  margin-top: 40px;
  @media (max-width: 512px) {
    width: 100%;
    margin-top: 24px;
  }
  display: flex;
}

.portfolioImages figure {
  height: 80px;
  img {
    width: unset;
    height: 100%;
  }
}

.portfolioValue {
  margin-top: 24px;
  p {
    font-family: Kanit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #494949;
  }
}

.portfolioValueTitle {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 16px;
  @media (max-width: 512px) {
    font-size: 15px;
  }
}

.portfolioValueContent {
  font-size: 16px;
  margin-top: 10px;
  @media (max-width: 512px) {
    font-size: 13px;
  }
}
